@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%;   */
}

body {
    background-image: linear-gradient(90deg, #818274, #a3ab78);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #626357ae;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #10454f;
    text-align: center;
    text-shadow: 1px 1px 2px #082227af;
}

h2 {
    color: #506266;
}

p {
    text-align: justify;
}